*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    height: 100vh;
}
.header{
    background-color: rgb(211, 211, 211);
    border-style: double;
    border-color: rgb(79, 79, 79);
    min-height: 10%;
    position: sticky;
    top:0;
    z-index: 1;
}
.section{
    height: 90%;
}
.side-section{
    background-color: rgb(76, 76, 76);
    border-style: double;
    border-color: rgb(0, 0, 0);
}
.manage{
    position: sticky;
    top: 11%;
}
.manages{
    border-bottom: 2px solid white;
}
.fside1{
    width: 5%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.fside2{
    width: 15% ;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.center{
    width: 50%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.lside{
    width: 30%;
    border-bottom: 2px solid black;
    text-align: center;
}
.td{
    border-bottom: 2px solid black;
    height: 100px;
}
.td-r{
    border-right: 2px solid black;
}
.content-input{
    border-radius: 10px;
}
.view{
    display: none;
}
.view-option{
    cursor: pointer;
}
#content{
    max-height: 90px;
    overflow: hidden;
}
