*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.section{
    display: flex;
}
.main-section{
    z-index: 1;
    width: 70%;
}
.side-section{
    width: 20%;
}
.fixed-div{
    position: sticky;
    top: 140px;
}
.logo{
    border-radius: 100%;
    transition: 0.5s;
    max-width: 50px;
    max-height: 50px;
}
.author-img{
    border-radius: 100%;
    width: 8%;
    height: 8%;
}
.navbar{
   background-color: rgb(211, 211, 211);
   border-style: double;
   border-color: rgb(79, 79, 79);
}
.main-logo{
    border-radius: 100%;
    transition: 0.6s;
}
.btn:hover{
    box-shadow: 4px 4px 30px black;
    transition: 0.6s;
}
.btn{
    box-shadow: 1px 1px 10px black;
    transition: 0.6s;
}
.logo:hover{
    box-shadow: 4px 4px 30px black ;
    transition: 0.6s;
    margin: auto;
}
.main-logo:hover{
    box-shadow: 4px 4px 30px black ;
    transition: 0.6s;
}
.footer{
    position: sticky;
    bottom: 0;
    border-style: double;
    border-color: rgb(79, 79, 79);
    background-color: rgb(211, 211, 211);
}
.list-footer{
    list-style: none;
    font-weight: bold;
}
.footer-logo{
    border-radius: 100%;
    max-width: 70px;
}
.blog-img{
    max-height: 80px;
}
.posts{
    transition: .9s;
}
.posts:hover{
    transform: scale(1.1);
}
.small-posts{
    transition: .9s;
}
.small-posts:hover{
    transform: scale(1.1);
}
.profile-icon:hover{
    transform: scale(1.2);
}