.main{
    height: 600px;
    border-color: rgb(48, 51, 50);
    border-radius: 20px;
    border-style: double;
}
.main-img{
    width: 40%;
    margin: 20px;
}
.d-list{
    list-style: none;
    font-size: larger;
    font-weight: bold;
    padding: 40px;
}
li{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}