*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(211, 211, 211);
    border-style: double;
    border-color: rgb(79, 79, 79);
    position:sticky;
    top: 0;
    z-index: 1;
}
.section{
   background-color: rgb(221, 221, 221);
   min-height: 100vh;
}
.main{
    height: 550px;
    overflow: auto;
    border-style: double;
    background-color:  rgb(211, 211, 211);
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.default-img{
    max-width: 120px;
    max-height: 120px;
    border-radius: 100%;
}
.edit-icon{
    position: absolute;
    bottom:1px;
    right: 35%;
}
.edit-icon:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}
.column{
    border-bottom: 2px solid black;
}
#modal-background{
    background-color: rgb(179, 189, 199) ;
}
.inputfile{
    font-size: small;
}
.selectone{
    font-size: small;
}