<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header class="position-sticky top-0 z-1  header">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid ">
              <a class="navbar-brand  fw-bold fs-1" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK_ZZp2CjcOyih5-OsbN5uUgLFP8DEzb-lEg&usqp=CAU" class="logo w-25 " alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse fw-bold fs-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">About</a>
                  </li>
                </ul>
                <form class="d-flex me-5 " role="search">
                  <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn text-white border  border-white" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <section class="section1 d-flex  bg-body-tertiary  ">
        <div class="side-section d-flex flex-column pt-5  ">
            <div class="brand text-center mb-4 ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK_ZZp2CjcOyih5-OsbN5uUgLFP8DEzb-lEg&usqp=CAU" class="w-25 main-logo"  alt="">
                <span class="fs-3 fw-bold text-white">Bloggie</span>
            </div>
            <div class="qoute fw-bold text-center text-white">
                <span>Discover stories, thinking, and <br>
                  expertise from writers on any topic.
                 </span>
            </div>
            <div class="options text-center">
              <ul>
                <li class="list-unstyled"><button class="btn  text-white border  mb-3 mt-5">travel blogs</button></li>
                <li class="list-unstyled"><button class="btn  text-white border  mb-3">food blogs</button></li>
                <li class="list-unstyled"><button class="btn  text-white border  mb-3">travel blogs</button></li>
              </ul>
            </div>
        </div>
        <div class="main-section ">
            <div class="text-center fw-bold mt-2 mb-4"><i class="fa-solid fa-arrow-trend-up text-white"></i><span class="ps-2 text-white">Trending</span></div>
            <div id="carouselExampleCaptions" class="carousel slide w-75 m-auto mt-5 text-white">
                    <img src="https://preview.colorlib.com/theme/magdesign/images/img_2.jpg" class="d-block w-100 rounded-5" alt="...">
                    <span class="d-block m-2">Business, Travel — July 2, 2020</span>
                    <span class="d-block fw-bold fs-6 m-2">Your most unhappy customers are your greatest source of learning.</span>
                    <p class="text-dark m-2">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div class="author d-flex flex-row gap-3">
                      <img src="https://preview.colorlib.com/theme/magdesign/images/person_1.jpg" class="author-img" alt="">
                      <div class="d-flex flex-column"><span class="fw-bold">Sergy Campbell</span><span class="text-dark">CEO and Founder</span></div>
                    </div>
              </div>
              <div id="carouselExampleCaptions" class="carousel slide w-75 m-auto mt-5 text-white ">
                <img src="https://preview.colorlib.com/theme/magdesign/images/img_3.jpg" class="d-block w-100 rounded-5" alt="...">
                <span class="d-block m-2">Business, Travel — July 2, 2020</span>
                <span class="d-block fw-bold fs-6 m-2">Your most unhappy customers are your greatest source of learning.</span>
                <p class="text-dark m-2">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="author d-flex flex-row gap-3 m-2">
                  <img src="https://preview.colorlib.com/theme/magdesign/images/person_1.jpg" class="author-img" alt="">
                  <div class="d-flex flex-column"><span class="fw-bold">Sergy Campbell</span><span class="text-dark">CEO and Founder</span></div>
                </div>
          </div>
          <div id="carouselExampleCaptions" class="carousel slide w-75 m-auto mt-5 text-white ">
            <img src="https://preview.colorlib.com/theme/magdesign/images/img_4.jpg" class="d-block w-100 rounded-5" alt="...">
            <span class="d-block m-2">Business, Travel — July 2, 2020</span>
            <span class="d-block fw-bold fs-6 m-2">Your most unhappy customers are your greatest source of learning.</span>
            <p class="text-dark m-2">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <div class="author d-flex flex-row gap-3 m-2">
              <img src="https://preview.colorlib.com/theme/magdesign/images/person_1.jpg" class="author-img " alt="">
              <div class="d-flex flex-column"><span class="fw-bold">Sergy Campbell</span><span class="text-dark">CEO and Founder</span></div>
            </div>
      </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/2cca22d63c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>