<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/profile.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body>
    {{!-- profile header --}}
    <header class="header-tag d-flex">
        <a href="/home"><i class="fa-solid fa-arrow-left mt-3 ms-3"></i></a>
        <div class="container header">
            <div class="row">
                <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-5 p-2 d-flex justify-content-end ">
                    <img src="https://preview.colorlib.com/theme/magdesign/images/person_1.jpg" alt=""
                        class="profile-img">
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-5 col-4 p-2 d-flex  flex-column justify-content-center">
                    <span class="fs-4 fw-bold">Sergy Campbell</span>
                    <span class="fs-5a">i love to traveling and blogin g</span>
                    <span>CEO and Founder</span>
                </div>
                <div class="col p-2 d-flex justify-content-end gap-2 align-items-end">
                    <button class="border border-black rounded-2 text-white edit-btn">Edit Profile</button>
                    <a href="" class="logout-btn">log out</a>
                </div>
            </div>
        </div>
    </header>
    {{!-- section --}}
    <section class="section">
        <div class="container">
            <div class="row">
                <h3 class="text-center">About</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit praesentium et voluptatem
                    incidunt beatae laborum repudiandae, modi sit magni debitis rem, ipsam maiores adipisci sint
                    reiciendis nihil vero aspernatur?
                    Iste alias vel odit error! Quo alias consequuntur impedit quam quos aspernatur provident itaque ut,
                    saepe praesentium illum natus numquam ex magnam doloribus, omnis esse eveniet dolor. Neque, eos
                    quae.
                    Hic perspiciatis sed a. Illum laboriosam quibusdam eos, error aliquid modi ab. Dolores, doloremque
                    quis. Libero est sint ad ipsum, atque, tenetur inventore nihil sit rerum consequuntur reiciendis
                    maxime dignissimos?
                    Dolorum ab aperiam est illo possimus, cupiditate incidunt totam tenetur quasi officia, magni commodi
                    quaerat ea, vitae voluptate vel consequatur impedit corporis aspernatur eum. Provident similique
                    distinctio adipisci eos minima?
                </p>
            </div>
            <div class="row text-center">
                <h3>My Posts</h3>
                <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-10 mb-2">
              <div class="card">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmc523EW0ahMBBVggFGjLmwa0yvED_H0Bb1hoiUjwQg&s"
                  class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text">Some quick example text </p>
                </div>
              </div>
            </div>
          </div>
        </div>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/2cca22d63c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>